In [2]:
import pandas as pd
import numpy as np
import os
from sklearn.preprocessing import StandardScaler
# 自定义设置 # 添加根目录路径到搜索列表
import sys
sys.path.append(r'C:\Users\86199\Documents\GitHub\DataAnalysis')
from my_setting import my_pd_setting,my_np_setting,my_sns_setting,data_path
from my_stat import get_col_dtypes, missing, drop_columns, des_classifi
my_pd_setting()
my_sns_setting()
my_np_setting()
filepath= r'C:\Users\86199\Documents\Datas\DC\C2'
filename = data_path(filepath=filepath)

pandas的版本为: 1.3.4
seaborn的版本为: 0.11.2
numpy的版本为1.20.3
已切换至数据路径:
C:\Users\86199\Documents\Datas\DC\C2
数据路径存在文件:
['2021厦门国际银行数创金融杯金融营销建模大赛-初赛数据描述.pdf', '主表数据', '其他数据表']

In [4]:
print('主表数据文件:')
print(os.listdir('.\主表数据'))
print('其余表格数据文件:')
print(os.listdir('.\其他数据表'))

主表数据文件:
['x_test.csv', 'x_train.csv', 'y_train.csv']
其余表格数据文件:
['d.csv', 'e.csv', 'f.csv', 'g.csv', 'h.csv', 'i.csv', 'j.csv', 'k.csv', 'l.csv', 'm.csv', 'n.csv', 'o.csv', 'p.csv', 'q.csv', 'r.csv', 's.csv']

In [9]:
filepath = '.\主表数据' + '\\' +'x_train.csv'
x_train = pd.read_csv(filepath)
x_train.head()

,id,core_cust_id,prod_code,a2,a3
0,4e3c3d57b83e425f8087b1d6d32a50f7,6e2105d9fe,90318011,4,2021-08-01
1,aa83c5fc05414c4d9727f0b32882f80e,6e2105d9fe,GRHLA20211530,1,2021-09-01
2,11245458ed6446cd9f88d57a5fc1d957,6e2105d9fe,DECD21090102,2,2021-09-01
3,359a03ecc46240d9bc00eef58dbc85e3,6e2105d9fe,GRHLA20211119,1,2021-08-01
4,7a5d79036dfb46acb7348e741ab00d9f,6e2105d9fe,GRHLA20211125,1,2021-08-01

In [10]:
dtype = get_col_dtypes(x_train)
dtype

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2386133 entries, 0 to 2386132
Columns: 5 entries, id to a3
dtypes: int64(1), object(4)
memory usage: 91.0+ MB
None

  var_names     dtypes
0            id  object
1  core_cust_id  object
2     prod_code  object
3            a2   int64
4            a3  object

In [13]:
filepath = '.\主表数据' + '\\' +'y_train.csv'
y_train = pd.read_csv(filepath)
dtype = get_col_dtypes(y_train)
dtype

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2386133 entries, 0 to 2386132
Columns: 2 entries, id to y
dtypes: int64(1), object(1)
memory usage: 36.4+ MB
None

  var_names dtypes
0  id        object
1   y         int64

In [14]:
y_train.head()

  id                                 y
0  2ac2d441ae61453ea889ec27d08c18e8  0
1  60548d981cb44dbdae1b525f869e7da1  0
2  6780ef20021d45bbb918c00f106a75dd  0
3  06a4fc23d1514180b691391c63b0cc3e  0
4  cc5a8209771544598597752e850a23b3  0

In [15]:
train = pd.merge(x_train, y_train, how='inner', on='id')
train.head()

,id,core_cust_id,prod_code,a2,a3,y
0,4e3c3d57b83e425f8087b1d6d32a50f7,6e2105d9fe,90318011,4,2021-08-01,0
1,aa83c5fc05414c4d9727f0b32882f80e,6e2105d9fe,GRHLA20211530,1,2021-09-01,0
2,11245458ed6446cd9f88d57a5fc1d957,6e2105d9fe,DECD21090102,2,2021-09-01,0
3,359a03ecc46240d9bc00eef58dbc85e3,6e2105d9fe,GRHLA20211119,1,2021-08-01,0
4,7a5d79036dfb46acb7348e741ab00d9f,6e2105d9fe,GRHLA20211125,1,2021-08-01,0

In [16]:
dtype = get_col_dtypes(train)
dtype

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2386133 entries, 0 to 2386132
Columns: 6 entries, id to y
dtypes: int64(2), object(4)
memory usage: 127.4+ MB
None

  var_names     dtypes
0            id  object
1  core_cust_id  object
2     prod_code  object
3            a2   int64
4            a3  object
5             y   int64